##################################################################
Welcome to {{ hostName }} Server in {{ clustername }} Ceph Cluster
This server is managing by Ceph Team

This server provisioned by Saleh Miri from Ansible
                           #######################
WARNING: This system is for authorized use only. All access is monitored and recorded.
WARNING: Any unauthorized use of system resources may result in the termination of your session and/or disciplinary action.
##################################################################
